:local(.button) {
  background: var(--color-cta);
  border-radius: 16px;
  color: var(--color-light);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 10px;
}

:local(.icon) {
  margin-left: 5px;
  fill: var(--color-light);
}